<div class="main container">
    <div class="search-and-dropdown-bar row">
      <div class="search-container col-sm">
        <input type="text" id="bank-detail-input" placeholder="Search in all fields..." [(ngModel)]="searchKey" (change)="test()"/>
      </div>
      <div class="dropdown-container col-sm">
        <select class="dropdown" [(ngModel)]="selectedCity" (change)="citySelected(selectedCity)">
          <option selected disabled>Select a city</option>
          <option *ngFor="let city of cities">{{ city }}</option>
        </select>
      </div>
    </div>
    <div class="bank-details-table-container row" id="banks-listing" *ngIf="banks.length > 0">
      <table class="table table-striped table-responsive">
        <thead class="thead-dark">
          <tr>
            <th>IFSC</th>
            <th>BRANCH</th>
            <th>ADDRESS</th>
            <th>DISTRICT</th>
            <th>STATE</th>
            <th>BANK NAME</th>
            <th>Favorites</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bank of banks | search:searchKey">
            <td>{{bank.ifsc}}</td>
            <td>{{bank.branch}}</td>
            <td>{{bank.address}}</td>
            <td>{{bank.district}}</td>
            <td>{{bank.state}}</td>
            <td><a [routerLink]="['/bank-details', selectedCity, bank.ifsc]">{{bank.bank_name}}</a></td>
            <td *ngIf="bank.favourite == 1" class="favorites-column" (click)="removeFromFavourites(bank, selectedCity)"><i class="fa fa-star"></i></td>
            <td *ngIf="bank.favourite == 0" class="favorites-column" (click)="addToFavourites(bank, selectedCity)"><i class="fa fa-star-o"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="banksCount > 0">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item page-link" (click)="decrementPage()">Previous</li>
          <li class="page-item page-link" *ngFor="let page of bankPages" (click)="updatePage(page)">{{page}}</li>
          <li class="page-item page-link" (click)="incrementPage()">Next</li>
        </ul>
      </nav>
    </div>
  </div>